.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5vmin);
  color: white;
}

.App-Component {
  text-align: center;
  margin: 64px auto 0 auto;
  width: 600px;
}

.App-link {
  color: #09d3ac;
}
